* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(179, 255, 171);
  background: linear-gradient(
    90deg,
    rgba(179, 255, 171, 1) 0%,
    rgba(18, 255, 247, 1) 100%
  );
}

h3{
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.779);
}
.container{
  background: rgba(255,255,255,.8);
  padding: 1.2rem;
  width: 90vw;
  margin: 8rem auto;
  max-width: 35rem;
  border-radius: 0.5rem;
}
.form-control{
  display: flex;
  justify-content: center;
}

.text-input{
  padding: 0.25rem;
  font-size:1.2rem;
  flex: 1 0 auto;
  border: none;
  border-radius: .5rem;
  padding: 4px;
}

.submit-btn{
  margin: 4px;
  padding: 8px;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .5rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255,255,255,.2);
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.alert{
  margin-bottom: 1.5rem;
  height: 1rem;
}
.alert.error{
  color: brown;
}
.alert.success{
  color: green;
}
.btn-container{
  font-size: 1.2rem;
  margin-left: 2.5rem;
}